.card-img-top {
  aspect-ratio: 4/3;
  object-fit: cover;
}

h2 {
  text-align: center;
}

.carousel {
  margin-top: 3%;
  margin-bottom: 5%;
}

.card:hover {
  transform: scale(1.05);
}
